@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #000000;
  background: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0,0.7)!important;
  margin-bottom: 15px;
}
.navbar-brand img{
  height: 5rem;
}

.titre{
	color: #11d5cb;
}

#loginForm{
	background: rgba(255, 255, 255, 0.9);

}

td {
	border-bottom: 1px solid #11d5cb;
	color:#088e8a;
}

button{
	
	background: #11d5cb;
	border: 1px solid #11d5cb;
	border-radius: 10px;
	color: #ffffff;
	font-size: 17px;
	margin-bottom: 15px;
}
button:hover{
	background: #ffffff;
	color: #11d5cb;
	cursor: pointer;
}
input{
	background-color: #11d5cb;
}